.RetrievedLocation {
    color: #55aaff;
    background-color: #eeeeee;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: bold;
}

#MainContent {
    margin: 60px auto;
    width: 80%;
    margin-left: 9%;
}

#TopMsgContainer {
    height: 3em;
    position: fixed;
    top: 5px;
    width: 80%;
    z-index:100000;
    text-align: center;
    margin-left: 10%;
 }
 
#TopMsg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
body {
    background-color: white;
    color: white;
    font-family: Verdana;
    margin: 0in;
}
input, select {
    color: black;
}
.addShadow, table {
    box-shadow: 3px 3px 3px #777;
}
td {
    font-size: 12px;
}
.ClickyTable {
    cursor: pointer;
}

@media (max-width: 325px) {
  h3 {
      font-size: 18px;
  }
  h4 {
      font-size: 12px;
      font-weight: bold;
  }
  td {
      font-size: 12px;
  }
}

@media (min-width: 1300px) {
#MainContent {
    margin-left: 10%;
    margin-right: 10%;
    }
}


.HideMe {
  display: none;
}
.DayDetail {
  margin-bottom: 15px;
}

#dataprovider{
  color: gray;
}

.tdDayForecastBottom {
    width: 155px;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}